---
import { LinkState } from "./links-state";
---

<header class="fixed w-full shadow">
	<div
		class="items-cente relative container mx-auto flex justify-between min-[370px]:px-4 px-2 py-4"
	>
		<div class="absolute inset-0 -z-1 h-[120%] w-full bg-neutral-900/90">
		</div>
		<div class="flex items-center space-x-2">
			<a
				href="/"
				class="border-b-2 border-neutral-900 px-2 transition-colors duration-500 hover:border-neutral-100"
			>
				<span class="text-xl font-bold select-none">BangThing</span>
			</a>
		</div>
		<nav id="nav-links" class="flex min-[370px]:space-x-4 space-x-1">
			<a
				href="/config"
				class="data-hidden:hidden rounded-lg border-2 border-neutral-900 px-2 transition-colors duration-500 hover:bg-neutral-100 hover:text-neutral-900 data-active:border-neutral-100"
				id="config-link"
				data-hidden="true"
				transition:name="nav-link-blog">Config</a
			>
			<a
				href="/docs"
				class="rounded-lg border-2 border-neutral-900 px-2 transition-colors duration-500 hover:bg-neutral-100 hover:text-neutral-900 data-active:border-neutral-100"
				transition:name="nav-link-docs">Docs</a
			>
			<a
				href="/"
				class="rounded-lg border-2 border-neutral-900 px-2 transition-colors duration-500 hover:bg-neutral-100 hover:text-neutral-900 data-active:border-neutral-100"
				transition:name="nav-link-home">Home</a
			>
		</nav>
		<LinkState client:idle />
	</div>
</header>
