---
import "../styles/tailwind.css";

import { pwaInfo } from "virtual:pwa-info";

import { MainScript } from "../logic/main";

import { getPageTitle, getPageDescription } from "~/utils/page-meta";
import Header from "./parts/header.astro";
import Footer from "./parts/footer.astro";
import { ClientRouter } from "astro:transitions";

interface Props {
	title?: string;
	description?: string;
}
const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<title>{getPageTitle(title)}</title>
		<meta name="description" content={getPageDescription(description)} />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" type="image/svg+xml" href="/search.svg" />
		<ClientRouter />
		{pwaInfo && <Fragment set:html={pwaInfo.webManifest.linkTag} />}
	</head>
	<body transition:animate="fade">
		<Header />
		<slot />
		<Footer />
		<MainScript client:load />
	</body>
</html>
